.content-body{
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
}

.title {
  width: 30%;

}

.content-title {

}

.content-img {
  margin-top: 20px;
  width: 30rem;
}
